*{
	font-family: 'Bai Jamjuree', sans-serif;
	padding: 0;
	margin:0;
}

h2{
color:hsl(210, 10%, 33%);
	font-weight:600;
	font-size:30px;
	line-height: 1;
	padding-bottom:16px;
}
h5{
	color: hsl(201, 11%, 66%);
	font-size:18px;
	font-weight:400;
	margin-bottom:0;
	padding:0 0rem;
}

/*.container {
	display: grid;
	min-width: 1024px;
	margin: auto;
	padding: 0 15px;
	width: auto;
}*/


	header{
		text-align: center;
	}
	
	.bg-header {
	background:url("./images/bg-header-desktop.png")no-repeat;
	background-size: cover;
	padding:3rem 18rem;
	}
	.big-C{
	margin-top:3rem;
	margin-bottom:2rem;
	width:100px;
	height:auto;

	}
	.bg-buttons{
		margin-top:32px;
	}
.green-button{
	width:150px;
	height:40px;
	background-color: hsl(171, 66%, 44%);
	border-radius:20px;
	border:none;
	color:#fff;
	font-size:12px;
	font-weight:400;
	box-shadow:inset 0 0 10px hsl(171, 66%, 44%);
 
}
.blue-button{
	width:150px;
	height:40px;
	background-color:hsl(233, 100%, 69%);
	border-radius:20px;
	border:none;
	color:#fff;
	font-size:12px;
	font-weight:400;
	box-shadow:inset 0 0 10px hsl(233, 100%, 69%);
}
.realTrack{
	margin-top:4rem;
	margin-bottom:3rem,
}
.track{
	text-align:center;
	padding:5rem 16rem;
}
.track_sub{
	display:flex;
}
.heading{
	margin-top:40px;
	margin-bottom: 0px;
}
.track_content_text{
	margin:2rem 0;
}
.track_content{
	padding: 1.5rem 5rem;
}

.track_img{
	width:100%;
	height:auto;
}
.accessClip{
	margin-top:6rem;
	margin-bottom:2rem,
}

.access{
	text-align:center;
	padding:4rem 16rem;
}
.access_img{
	width:100%;
	height: auto;
	text-align: center;
}
.superCharge{
	margin-top:2rem;
	margin-bottom:6rem;
}

.superCharge_content{
	text-align: center;
	
}
.superCharge_content_sub{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
	margin-bottom:2rem;
}
.superCharge_content_main{
	padding-top: 3rem;
	padding-bottom:1rem;
}
.superCharge_content-tool{
	padding:3rem 2rem;
}
.someTrademarks{
margin:6rem 0;
}
.trademarks{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
	text-align: center;
}
.Clipboard{
	margin-top:5rem;
}
.clip{
	text-align: center;
	padding:4rem 0;	
}

.icons{
	margin-bottom:16px;
}

footer .container{
  margin-top: 8rem;
  background-color: #eaeaea;
  padding:2rem 5rem;
  display: flex;
  align-items: center;
}
.first-links{
  margin-bottom: 1rem;
}
.first-links a{
  padding-right: 4rem;
}
.second-links a{
  padding-right: 2rem;
}
.social-icons{
  display: flex;
  margin-left: 10rem;
}
.social-icons img {
  padding-right:2rem;
}
.small-C{
  height:70px;
  margin-right: 122px;
}
 a{
  text-decoration: none;
  color:  hsl(201, 11%, 66%);
}


/*mobile styles start*/

@media screen and (max-width:425px){
	*{
		padding: 0;
		margin: 0;
		text-align: center;
	}
	h2{
	color:hsl(210, 10%, 33%);
	font-weight:600;
	font-size:30px;
	line-height: 1;
	padding-bottom: 16px;
	padding-right: 2rem;
	padding-left:2rem;
}
h5{
	color: hsl(201, 11%, 66%);
	font-size:18px;
	font-weight:400;
	margin-bottom:0;
	padding:0 3rem;
}
.plain_text{
	padding-bottom:16px;
	padding-left: 0;
	padding-right: 0;
}

	header{

		text-align:center;
	}
	.bg-header {
	background:url("./images/bg-header-mobile.png")no-repeat;
	background-size: cover;
	display: block;
	width:100%;
	height:auto;
	padding:0px;
	}

.logo{
	height:35px;
}
.bg-buttons{
	display:block;
	text-align: center;
	padding-bottom: 2rem;
	padding-top: 4rem	
}
.green-button{
	width:300px;
	height:60px;
	background-color: hsl(171, 66%, 44%);
	border-radius:20px;
	border:none;
	color:#fff;
	font-size:18px;
	font-weight:400;
	box-shadow:inset 0 0 10px hsl(171, 66%, 44%);
 
}
.blue-button{
	margin-top:27px;
	width:300px;
	height:60px;
	background-color:hsl(233, 100%, 69%);
	border-radius:20px;
	border:none;
	color:#fff;
	font-size:18px;
	font-weight:400;
	box-shadow:inset 0 0 10px hsl(233, 100%, 69%);
}
.track{
	text-align: center;
	padding:4rem 0;
	display: block;
}
.computer{
	width:300px;
}
.devices{
	width:300px;
}
.track_img{
	width:100%;
	height:auto;
	display:block;
}
.track_content{
	display:block;
	padding: 0;
}
.track_sub{
	display: block;
}
.track_content-text{
	text-align: center;
	
}
.access{
	display: block;
	text-align: center;
	padding:4rem 0;
}
.access_img{
	width:100%;
	height:auto;
	display:block;
}
.superCharge_content{
	display: block;
	text-align: center;
}
.superCharge_content_sub{
	display:block;
}
.icons{
	margin-bottom:30px;
}
.trademarks{
	display: block;
	margin:3rem;
}
.clip{
	display:block;
	text-align: center;
	padding-bottom: 0;
}
.logo{
	margin:25px;
}
.big-C{
	width:100px;
	height:auto;
	padding-bottom:3rem;
}
/*.clipfoot{
	margin-top:4rem;
	text-align: center;
	color:hsl(210, 10%, 33%);
	background-color:#eaeaea;
	padding:2rem;
	width: 100%;

}*/

footer .container{
  /*margin-top: 8rem;*/
  background-color: #eaeaea;
  /*padding:2rem 5rem;*/
  display:block;
  /*text-align: center;*/

}
footer{
	width:100%;
	height:auto;
	text-align: center;

}
.first-links{
	display:grid;
  margin-bottom:0;
}

.first-links a{
  padding-right:1rem;
}

.second-links{
	display: grid;
}
.second-links a{
  padding-left:1rem;
}
.social-icons{
  margin:2rem 3.5rem;
}
.social-icons img{
padding-right:2rem;
}
.small-C{
	width:35px;
  height:auto;
  margin:2rem 1rem;
}
 a{
  text-decoration: none;
  color:  hsl(201, 11%, 66%);
  padding:5px;
}


}